*
{
    font-family: sans-serif;
    font-size: 16px;
    background-color: #f2f1f6;
}

body
{
    margin: 0;
}

div
{
    padding: 5px;
}

.contenedor_principal
{
    background-color: #f2f1f6;
    margin: auto;
}

.circular--square
{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 3%;
    padding: 2%;
    object-fit: cover;
}

.nombre
{
    text-align: center;
    font-size: 30px;
}

.puesto
{
    text-align: center;
    color: #8e8d91;
}

.seccion
{
    background-color: #fff;
    border: #fff;
    border-radius: 7px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 8px;
}

.variable, a:link, a:visited, a:hover, a:active
{
    font-size: 18px;
    color: #007aff;
    background-color: #fff;
    cursor: pointer;
}

.cuadros
{
    float: left;
    background-color: #fff;
    border-radius: 7px;
    margin: 5px;
    padding: 8px;
    color: #007aff;
    width: 17.5%;
    text-align: center;
}

.mensaje
{
    background: #467a49e0;
    color: #fff;
    position: absolute;
    top: 180px;
    width: 92%;
    left: 0;
    margin-left: 2%;
    padding: 2%;
    border-radius: 7px;
    text-align: center;
    display: none;
}

/*.icono
{
    width: 22px;
    display: block;
    margin: auto;
    cursor: pointer;
    margin-bottom: -18px;
}*/

@media only screen and (min-width: 500px)
{
    *
    {
        font-size: 14px;
    }
    body
    {
        background-color: #fff;
    }
    .contenedor_principal
    {
        width: 350px;
        filter: drop-shadow(2px 3px 5px gray);
        border-radius: 7px;
    }
    .nombre
    {
        font-size: 28px;
    }
    .variable, a:link, a:visited, a:hover, a:active
    {
        font-size: 16px;
    }
    .mensaje
    {
        top: 173px;
        width: 324px;
        padding: 8px;
        text-align: center;
        margin: 5px;
        left: 50%;
        margin-left: -170px;
    }
}